@-webkit-keyframes fly {
  0% {
    
  }
  50% {
      transform: translate(170px,208px);
  }
  100% {
    transform: translate(-10px,488px);
  }
}

@keyframes fly {
 0% {
    
  }
  50% {
      transform: translate(170px,208px);
  }
  100% {
    transform: translate(-10px,488px);
  }
}

.fly {
  -webkit-animation-name: fly;
  animation-name: fly;
}